* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: whitesmoke;
  font-family: poppins;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 200px;
  aspect-ratio: 16/9;
  object-fit: contain;
  margin-left: 1rem;
}
nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin-right: 1rem;
}
nav ul li a {
  text-decoration: none;
}

.search {
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 1rem;
  position: relative;
  place-self: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #e3e2e2;
  border: none;
  color: #000000;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 100%;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 300;

  color: #060606;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #ece4e4;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}
.search__icon {
  height: 2em;
  width: 2em;
  fill: #383737;
  position: absolute;
  top: 8px;
  right: 20px;
}

/* input{
  display: flex;
  width: 80%;
  justify-self: center;
 
} */
.hero-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.products {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.product-card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 10px 10px 34px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  line-height: 1.5rem;
}
.product-card button {
  width: 50%;
  place-self: center;
}
.product-card p {
  place-self: center;
  padding-top: .5rem;
}
.product-card h1 {
  font-size: 1.5rem;
  place-self: center;
  padding-top: 1rem;
}
.product-card h3 {
  font-size: 1rem;
  place-self: center;
}
.product-card h3 p{
  font-size: .8rem;
  place-self: center;
}
footer{
  margin-top:5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
